
.error-message {
    display: none;
}

.required {
    color: #FF0000;
}

.working:before {
    content: url(../img/loading.gif);
    margin-right: 1em;
    min-height: 20px;
}

.templates {
    display: none;
}
